/*********************/
/* *** VARIABLES *** */
/*********************/

:root {
    /* COULEUR THEME LIGHT */
    --light-gradient-01: #cefffd;
    --light-gradient-02: #e0def0;
    --light-gradient-03: #f5bce4;
    --light-text: #776DC8;
    --light-title: #7B7994;
    --light-icon: #837CB9;
    --light-social: #837CB9;
    --light-bg-section-01: #EBE9FA;
    --light-bg-section-02: #dddaf5;
    
    /* COULEUR THEME DARK */
    --dark-gradient-01: #3d70c3;
    --dark-gradient-02: #325696;
    --dark-gradient-03: #1e3158;
    --dark-text: #A3B4D4;
    --dark-title: #8d9fc0;
    --dark-icon: #4C6AA0;
    --dark-social: #476EB4;
    --dark-bg-section-01: #364155;
    --dark-bg-section-02: #313b4d;

}

/********************************/
/* *** RESET CSS NAVIGATEUR *** */
/********************************/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}
/**************************/
/* *** CLASS D'ICONES *** */
/**************************/

/* SOCIAL */
.social-logo i,
.social-logo-top i {
    font-size: 65px;
}

    .fa-facebook-square {
        color: #3b5999;
    }

    .fa-twitter-square {
        color: #00acef;
    }

    .fa-instagram {
        color: #c328a5;
    }
    
    .fa-linkedin-in {
        color: #007bb6;
    }

/* CONTACT */
.fa-envelope {
    color: #ee1d24;
}

.fa-phone {
    color: #1bc300;
}

/* SECTIONS */
section {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

    section:nth-child(even) {
        background: var(--light-bg-section-01);
    }

    section:nth-child(odd) {
        background: var(--light-bg-section-02);
    }

    section .title-section {
        color: #e5e6e7;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        letter-spacing: 1.5px;
        padding: 30px 0px;
    }

        

    section:nth-child(even) > .title-section {
        background: #581fce;
        border-bottom: 10px solid #4560df;
        justify-content: flex-end;
    }

    section:nth-child(odd) > .title-section {
        background: #1299c5;
        border-bottom: 10px solid #58c3e6;
        justify-content: flex-start;
    }

    section:last-child > .title-section {
        background: #ed6701;
        border-bottom: 10px solid #f19b40;
    }

    

/* MISC */
h2 {
    font-weight: 500;
    padding: 0px 30px;
}

.bloc-logo-txt {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 30px;
    text-align: center;
}

    .bloc-logo-txt i {
        color: var(--light-icon);
        font-size: 90px;
        padding: 15px 0px;
    }

.arrow-bot i {
    color: #525252;
    display: flex;
    font-size: 75px;
    justify-content: center;
    padding: 10px;
}

header .arrow-bot i {
    color: #ccc;
}

.txt-color-blue {
    color: #aab8f7;
}

#home {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 5;
}

#competences {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 4;
}

#qualities {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 3;
}

#hobbies {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

#contact {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 1;
}


/*****************************************/
/* *** PROPRIETES GENERALES (mobile) *** */
/*****************************************/

#switch {
    display: none;
}


#global {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    min-height: 100vh;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    
}

/** HEADER **/
    header {
        background: linear-gradient(-50deg, var(--light-gradient-01), var(--light-gradient-02), var(--light-gradient-03)); 
        color: var(--light-title);
        padding: 15px
    }

    /* LOGO */
    .logo-top {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

        .logo-top nav {
            display: none;
        }

    /* TITRE */
    .title {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 4px;
        padding: 5%;
    }

        .title h1 {
            font-size: 48px;
            font-weight: 700;
        }

        .title p {
            color: var(--light-text);
            font-size: 24px;
            letter-spacing: 2.5px;
        }
    
    /* SUMMARY */
    .summary {
        align-items: center;
        display: flex;
        flex-grow: 1;
        padding: 10px;
    }

    /* RESEAUX SOCIAUX */
    .social-logo,
    .social-logo-top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }


/** COMPETENCES **/
    .logo-competences {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        font-size: 75px;
        justify-content: space-around;
        padding: 45px 30px;
    }

        .logo-competences i {
            flex: 1 0 33.333333%;
            text-align: center;
            padding: 15px 5px;
        }

    .text-competences {
        padding: 30px;
    }


/** CONTACT **/
    .contact-text {
        padding: 30px;
    }

    .contact-logo {
        display: flex;
        font-size: 110px;
        flex-direction: row;
        flex: 1 0 50%;
        text-align: center;
        justify-content: space-around;
        padding: 75px 30px;
    }

/** FOOTER **/
    footer {
        display: none;
    }


/**********************/
/* *** RESPONSIVE *** */
/**********************/

/* DEKSTOP */
@media screen and (min-width: 992px) {

    #global {
        background: linear-gradient(-50deg, var(--light-gradient-01), var(--light-gradient-02), var(--light-gradient-03));
    }

    .wrapper {
        margin-right: auto;
        margin-left: auto;
        padding: 0px;
        width: 960px;

    }

    .fa-lightbulb {
        color: var(--light-title);
        cursor: pointer;
        font-size: 35px;
        padding: 0px 15px;
    }

        

    header {
        background: url(../img/bg_header.png), linear-gradient(-50deg, var(--light-gradient-01), var(--light-gradient-02), var(--light-gradient-03)); 
        background-repeat: no-repeat;
        background-position: center center;
        padding: 15px
    }

        

    .arrow-bot {
        display: none;
    }

    .social-logo-top {
        justify-content: flex-end;
        padding: 45px 10px 10px 10px;
    }


        .social-logo-top i {
            font-size: 45px;
            padding: 0px 12px;
        }

    .social-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 200px;
    }

        
    .logo-top {
        justify-content: space-between;
    }

        .logo-top nav {
            display: flex;
            padding: 10px 5px;
        }

            .logo-top a {
                color: var(--light-title);
                border-bottom: 0 solid var(--light-gradient-03);
                font-weight: 500;
                padding: 5px 15px 10px 15px;
                text-transform: uppercase;
                transition: all .15s;
            }


                .logo-top a:hover {
                    background: var(--light-gradient-02);
                    border-bottom: 5px solid var(--light-gradient-03);
                    border-radius: 10px;
                    color: var(--light-text);
                    padding: 5px 15px 5px 15px;
                }

   
    
        section .title-section {
            color: var(--light-title);
            display: flex;
            flex-direction: row;
            justify-content: center;
            letter-spacing: 1.5px;
            padding: 30px 0px 50px 0px;
        }

        section:nth-child(even) > .title-section {
            background: transparent;
            border-bottom: 0px solid #4560df;
            justify-content: flex-start;
        }

        section:nth-child(odd) > .title-section {
            background: transparent;
            border-bottom: 0px solid #58c3e6;
            justify-content: flex-end;
        }

        section:last-child > .title-section {
            background: transparent;
            border-bottom: 0px solid #f19b40;
            justify-content: flex-start;
        }

        .content-section {
            display: flex;
            flex-direction: row;
            flex-grow: 0;
            padding: 0px 25px 100px 25px;
        } 


    .title {
        padding: 25px 110px;
    }

        .title h1 {
            font-size: 75px;
        }

        .title p {
            font-size: 37.5px;
            letter-spacing: 3px;
        }

    .summary {
        align-items: center;
        display: flex;
        flex-grow: 1;
        padding: 0 15px;
    }

    .logo-competences i {
        flex: 1 0 16.666666%;
        text-align: center;
        padding: 15px 5px;
    }


    .bloc-logo-txt i {
        color: var(--light-icon);
        font-size: 60px;
    }

    #competences {
        padding: 20px 15px;
    }

    #qualities {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

    #hobbies {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

    .social-logo,
    .social-logo-top {
        transition: all .5s;
    }

    .social-logo-top i {
        color: var(--light-social);
    }

        .social-logo a:hover {
            text-shadow: 0px 2px 0px rgb(27, 27, 27);
        }
        
        .social-logo-top a:hover {
            text-shadow: 0px 2px 0px rgb(187, 187, 187);
        }

    .contact-logo {
        padding: 55px 150px;
    }
    

    footer {
        background: var(--light-title);
        color: #ccc;
        display: flex;
        font-size: 15px;
        justify-content: center;
        padding: 31px 5px;
    }


        footer a {
            color: #00acef;
        }

    /* CHECKED */
    :checked +* header {
        background: url(../img/bg_header2.png), linear-gradient(-50deg, var(--dark-gradient-01), var(--dark-gradient-02), var(--dark-gradient-03)); 
        background-repeat: no-repeat;
        background-position: center center;
        color: var(--dark-title);
        padding: 15px
    }

    :checked +* .fa-lightbulb {
        color: var(--dark-text);
    }

    :checked +* .logo-top a {
        color:var(--dark-text);
    }

    :checked +* .logo-top a:hover {
        border-bottom: 5px solid var(--dark-gradient-03);
        color: var(--dark-text);
    }

    :checked +* .title p {
        color: var(--dark-text);
    }

    :checked +* section:nth-child(even) {
        background: var(--dark-bg-section-01);
    }

    :checked +* section:nth-child(odd) {
        background: var(--dark-bg-section-02);
    }

    :checked +* section .title-section {
        color: var(--dark-title);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        letter-spacing: 1.5px;
        padding: 30px 0px;
    }

    :checked + #global {
        background: linear-gradient(-50deg, var(--dark-gradient-01), var(--dark-gradient-02), var(--dark-gradient-03)); 
        color: var(--dark-text);
    }
    
    :checked +* .logo-competences i {
        color: var(--dark-icon);
    }

    :checked~* .bloc-logo-txt i {
        color: var(--dark-icon);
    }

    :checked +* .social-logo-top i {
        color: var(--dark-social);
    }

    :checked +* footer {
        background: #16222a;
    }
}